<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Add a Blog</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <form action="">
      <div class="mb-3">
        <label for="title" class="form-label">Title </label>
        <input type="text" class="form-control" name="title" />
      </div>
    </form>
    <%- include('./partials/scripts') %>
  </body>
</html>
