<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Signup</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="container mt-4">
      <form action="/user/signin" method="post">
        <div class="mb-3 row">
          <label for="email" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="email" />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label"
            >Password</label
          >
          <div class="col-sm-10">
            <input type="password" class="form-control" name="inputPassword" />
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <% if (locals.error) { %>
    <div class="container mt-4">
      <div class="alert alert-danger" role="alert"><%= locals.error %></div>
    </div>
    <% } %> <%- include('./partials/scripts') %>
  </body>
</html>
